@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Raleway:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.App {
  text-align: center;
  background-color: aliceblue;
  
}

.dropdown {
  width: 7%;
  height: 5%;
  margin-left: 50px;
}

.modalBackground {
  width: 25vw;
  height: 9vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modalContainer {
  width: 400px;
  height: 350px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-top: none;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: none;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Fuzzy Bubbles', cursive;
}

.modalContainer .body {
  /* flex: 80%;
  display: flex; */
  
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  margin: 15px;
}

.modalContainer .footer {
  flex: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 60px;
  height: 25px;
  margin: 10px;
  margin-top: 50px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.paw-print-container {
  background: aliceblue;
  margin-left: 400px;
  margin-bottom: 400px;
  height: 700px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.paw-fingers-container {
  display: flex;
  justify-content: center;
}

.paw-fingers-container h1 {
  padding: 0;
  /* margin: 0 0 0 10px; */
}

.paw-print {
  border-radius: 50%;
}

.main-paw-print-paw-print  {
  background: black;
  margin-top: 5px;
  width: 530px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: pink;
  /* border-radius: 70% 70% 10% 10%; */
  border-radius: 50%;
  
}

#paw1, #paw4 {
  background: black;
  width: 150px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#paw2, #paw3 {
  background: black;
  width: 190px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.paw1-toe-beans, .paw4-toe-beans {
  background: pink;
  width: 105px;
  height: 135px;
  border-radius: 50%;
}

.paw2-toe-beans, .paw3-toe-beans {
  background: pink;
  width: 140px;
  height: 200px;
  border-radius: 50%;
}

#paw1 {
  position: relative;
  top: 150px;
  right: 45px;
  transform: rotate(-30deg);
}

#paw2 {
  position: relative;
  bottom: 10px;
  right: 20px;
  transform: rotate(-15deg);
}

#paw3 {
  position: relative;
  bottom: 10px;
  left: 45px;
  transform: rotate(16deg);
}

#paw4 {
  position: relative;
  top: 170px;
  left: 60px;
  transform: rotate(30deg);
}

.inner-main-paw-print {
  background: pink;
  color: white;
  width: 88%;
  height: 88%;
  border-radius: 80%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.inner-main-paw-print form button{
  cursor: pointer;
  text-align: center;
}
